APP_NAME=OxyPlant ML Service
HOST=0.0.0.0
PORT=8000
MODEL_PATH=./model/final_model_tf/best_model_ta99.keras
LABELS_PATH=./model/label_mappings.json
SCALER_PATH=./model/scaler.joblib
TARGET_ENCODER_PATH=./model/target_encoder.joblib
TOKENIZER_DIR=./model/artifacts/tokenizer
IMAGE_SIZE=224,224
ALLOWED_ORIGINS=http://localhost:3333