<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome {{ user.email }} </h1>
    <p>This is your dashboard.</p>
    <form method="POST" action="/logout">
      <input type="hidden" name="_csrf" value="{{ csrfField() }}">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
