<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title || "OxyPlant" }}
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif

    @if ($slots.style)
      {{{ await $slots.style() }}}
    @endif
  </head>
  <body class="min-h-screen overflow-x-hidden bg-[#f6f4ee] text-[#153e2e]">
    {{{ await $slots.body() }}}
    @if ($slots.script)
      {{{ await $slots.script() }}}
    @endif
  </body>
</html>
